node_modules/
out/
dist/
dist_electron/
.vite/
buildResources/icon.png
*.log
.DS_Store
Thumbs.db
website/downloads/
website/website image.png
Shortcut logo.png
forge.config.js
postcss.config.js
tailwind.config.js
scripts/
